:root {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #1e1e2e;
    --main-color: #abe9b3;
    --sub-color: #575268;
    --sub-alt-color: #292739;
    --text-color: #d9e0ee;
    --error-color: #f28fad;
    --error-extra-color: #e8a2af;
    --colorful-error-color: #f28fad;
    --colorful-error-extra-color: #e8a2af;
}

.letter {
    color: var(--sub-color);
}

.letter.cursor {
    caret-color: #fae3b0;

}

.typed {
    background-color: var(--sub-alt-color);
}

.correct {
    color: var(--text-color);
    display: inline-block;
    animation: drop 0.1s 1;
}

.incorrect {
    color: var(--error-color);
    display: inline-block;
    animation: wiggle 0.1s 3;
}

.cursor {
    text-decoration: underline;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    95% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes drop {
    0% {
        transform: translateY(0rem);
    }
    30% {
        transform: translateY(0.05rem);
    }
    50% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
