.letter {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.correct {
    color: green;
}


.incorrect {
    color: red;
}

.cursor {
    text-decoration: underline;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   80% { transform: rotate(0deg); }
   85% { transform: rotate(5deg); }
   95% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.wiggle {
    display:inline-block;
    animation: wiggle 2.5s infinite;
}
