a {
    color: var(--sub-color);
    text-decoration: none;
}
a:hover {
    color: var(--text-color);
}

:root {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 1rem;
    font-style: normal;
    --background-color: #1e1e2e;
    --main-color: #abe9b3;
    --sub-color: #575268;
    --sub-alt-color: #292739;
    --text-color: #d9e0ee;
    --error-color: #f28fad;
    --error-extra-color: #e8a2af;
    --colorful-error-color: #f28fad;
    --colorful-error-extra-color: #e8a2af;
    --miss-color: #ecd444;
}

#stats-page {
    display: grid;
    grid-template-areas:
        "sp menu spe"
        "plots plots plots";
    grid-template-rows: 3rem auto;
    grid-template-columns: 1fr 30rem 1fr;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    line-height: 1.5rem;
    gap: 0.2rem;
}

#stats-page > #plots {
    grid-area: plots;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: var(--background-color);
}

#stats-page > #menu {
}

#layout {
    display: grid;
    grid-template-areas:
        "sp menu spe"
        "sp content spe"
        "sp stats spe";
    grid-template-rows: 1fr 4.9rem 1fr;
    grid-template-columns: 1fr 30rem 1fr;
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    line-height: 1.5rem;
    gap: 0.2rem;
}

#content {
    grid-area: content;
    outline: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    row-gap: 0.2rem;
    align-content: flex-start;
    overflow-y: hidden;
}

.word.active {
    font-weight: 500;
}

#stats {
    grid-area: stats;
    height: 3rem;
    display: grid;
    grid-template-areas: "wpm acc none none";
    grid-template-columns: repeat(4, 1fr);
}
.stats-container {
    color: var(--main-color);
    display: flex;
    gap: 0.2rem;
    align-self: flex-end;
}
#wpm-container {
    grid-area: wpm;
}

#acc-container {
    grid-area: acc;
}

#menu {
    grid-area: menu;
    height: 3rem;
}

#sp {
    grid-area: sp;
    margin: 1rem;
}

#spe {
    grid-area: spe;
}

.letter {
    color: var(--sub-color);
}

.letter.active {
    text-decoration: underline;
}

.typed {
    background-color: var(--sub-alt-color);
}

.correct {
    color: var(--text-color);
    display: inline-block;
    animation: drop 0.1s 1;
}

.miss {
}

.backtrack {
    text-decoration: underline;
    text-decoration-color: var(--miss-color);
}

.incorrect {
    color: var(--error-color);
    display: inline-block;
    animation: wiggle 0.1s 3;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-7deg);
    }
    95% {
        transform: rotate(7deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes drop {
    0% {
        transform: translateY(0rem);
    }
    30% {
        transform: translateY(0.05rem);
    }
    50% {
        transform: translateY(0rem);
    }
    100% {
        transform: translateY(0rem);
    }
}

.slidecontainer {
    display: grid;
    grid-template-areas:
        "slider-text slider-text"
        "slider slider-value";
    grid-template-columns: auto 2rem;
    align-items: center;
}

/* The slider itself */
.slider {
    grid-area: slider;
    -webkit-appearance: none; /* Override default CSS styles */
    appearance: none;
    height: 0.75rem; /* Specified height */
    background: var(--sub-color); /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
    transition: opacity 0.2s;
}

.text {
    color: var(--sub-color);
    font-size: 0.8rem;
}

.slider-value {
    grid-area: slider-value;
    color: var(--sub-color);
    justify-self: end;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 1rem; /* Set a specific slider handle width */
    height: 1rem; /* Slider handle height */
    background: var(--main-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.blur {
    filter: blur(5px);
}
